#nav {
  position: fixed;
  height: 7vh;
  width: 100%;
  margin: 0px;
  background-color: black;
}

#header {
  font-family: "Francois One", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  margin: 0px;
}

.header-container {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron{
  background-image: url("Sea.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.h3 .rollIn {
  animation-delay: 5s;
}

#summary {
  text-align: center;
  background-color: white;
  color: black;
  box-sizing: border-box;
  height: 90vh;
  width: 100%;
}

table{
  width: 100%;
}

.skills{
  display: inline;
  padding: 0px 60px 0px 60px;
}

.logo {
  width: 50px;
  height: 60px;
  text-align: center;
}

#portfolio {
  background-color: black;
  color: white;
  box-sizing: border-box;
  height: 80vh;
  width: 100%;
}

.portImg {
  height: 40vh;
}

#footer {
  background-color: purple;
  box-sizing: border-box;
  height: 20vh;
  width: 100%;
  border: 1px solid black;
}
